.collage{
    position: absolute;top:300px;left:1200px
}

.collageOne{
    position: absolute;top:0px;left: 100px;
    transform: perspective(250px) rotateY(-400deg) scale(2) rotate(180deg);
}


.collageTwo{
    position: absolute;top:160px;
    transform: perspective(200px) rotateY(400deg);
    background-color: rgba(255, 255, 255, 0.8);
    animation-name: changeColor;
    animation-duration: 6s;
    animation-iteration-count:infinite;
    animation-direction: alternate-reverse;
}


body{
    background-color: #ca2a64;
}

#pink{
color: pink
}

.butterfly-img {
    width: 300px;
    height: auto;
    transform: translate(400px, -50px) rotate(45deg);
    border-radius: 50%; /* makes a circle so i don't forget */
    
}

@keyframes changeColor{
    from{background-color:red;}
    to{background-color: blueviolet;}
}

.cropContainer{
     position:absolute;
     overflow: hidden;
}

.container{
    position:relative;
    width:100vw;
    height:200px;
    background-color: red;
}

.center{
    position:absolute;
    left:50%;
    top: 50%;
    transform: translate(-50%, -50%);
    margin:0;
}

.display-exp{
    display:flex;
    gap: 20px;
}


.display-exp div{
    flex: 1;
    padding:20px;
    color:white;
    margin: 20px;
}

.flex-container{
    display:flex;
    width: 100vw;
    justify-content: center;
    background-color: lightcoral;
    height:500px;
    align-items: center;
}

h2:hover{
    color:dodgerblue;
    transform: rotate(180deg);
}